body {
    scroll-behavior: smooth;
}

header img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Hover efektleri */
.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
